<h2>Taught Lesson</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <label class="text-black mb-3 lead mt-5">Subjects</label>
      <%= simple_form_for [@taught_lesson] do |f| %>
        <%= select_tag(:subject_id, options_for_select(Subject.pluck(:name, :id)),  {class: "selectpicker w-75", data: {"live-search": true, "style": "bg-white rounded-pill px-4 py-3 shadow-sm"}, multiple: true}) %>
        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
