// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Default font color
$dark-blue: #00002F;

// Subject background colors
$light-pink: #ffadadff;
$lemon-yellow-crayola: #fdffb6ff;
$amaranth-pink: #f694c1ff;
$uranian-blue: #a9def9ff;
$baby-blue-eyes: #a0c4ffff;
$turquoise-green: #95d5b2ff;
$maximum-blue-purple: #bdb2ffff;
$pale-cerulean: #99c1deff;
$cyclamen: #e27396ff;
$ocean-green: #52b788ff;
$yellow-green-crayola: #d4e09bff;
$dark-salmon: #f19c79ff;
$mellow-apricot: #ffbf69ff;

// Subject background colors - not used yet
$tea-green: #cbdfbdff;
$illuminating-emerald: #40916cff;
$light-pink: #ffadadff;
$mauve: #e4c1f9ff;
$aero-blue: #d3f8e2ff;
$powder-blue: #c5deddff;
$celeste: #9bf6ffff;
$light-goldenrod-yellow: #f6f4d2ff;
$medium-carmine: #a44a3fff;
