// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Color palette
$oxford-blue: #00002F; // Default font & main navbar background color
$navy-blue: #00005aff; // Call to action button
$alabaster: #f4f3eeff; // Default background color
$maya-blue: #57bfffff; // Links hover
$davys-grey: #575757ff; // Lighter text

// Subject background colors
$mauve: #e4c1f9ff; // "English"
$ao-english: #389738; // "Mathematics"
$uranian-blue: #86d1f7; // "Physics"
$kombu-green: #76bc27; // "Biology"
$star-command-blue: #0077b6ff; // "Finance"
$glossy-grape: #9c89b8ff; // "Accounting"
$maximum-blue-purple: #ada3ed; // "Chemistry"
$celadon-blue: #0082d4; // "French"
$bitter-lemon: #bfd200ff;  // "Philosophy"
$cyclamen: #e27396ff; // "Statistics"
$fire-opal: #f97946; // "Chinese"
$selective-yellow: #f5bf20; // "Communication"
$heat-wave: #fba638; // "German"
$unbleached-silk: #ffacac; // "Japanese"
$turquoise-green: #5bc48b; // "Korean"
$grullo: #9d472d; // "Latin"
$coffee: #744734; // "Russian"
$imperial-red: #e93438; // "Spanish"
$gunmetal: #3e728a; // "Science"
$trypan-blue: #5457c2; // "Astronomy"
$dark-red: #a92b30; // "Human Biology"
$bright-purple: #8c5dba; // "Graphics"
$baby-blue-eyes: #72a7ff; // "Computer Science"
