<div id="tutors" class="container ais-InstantSearch" data-environment="<%= Rails.env %>">
  <h1 id="tutors-header">Choose your tutor</h1>
  <div id="searchbox"></div>
  <div id="below-search">
    <div id="filter-tags">
      <div id="current-filters"></div>
      <div id="clear-filters"></div>
    </div>
    <div id="results-number"></div>
  </div>
  <div id="sort-by"></div>

  <div id="search-results" class="row">
    <div class="col-4 col-lg-3 filters">
      <h5>Subjects</h5>
      <div id="subjects-list" class="filter-section"></div>
      <h5>Languages</h5>
      <div id="languages-list" class="filter-section"></div>
      <h5>Countries</h5>
      <div id="countries-list" class="filter-section"></div>
      <h5>Currencies</h5>
      <div id="currencies-select"></div>
    </div>

    <div class="col-8 col-lg-9 results">
      <div id="hits"></div>
      <div id="pagination"></div>
    </div>
  </div>
</div>

<script>
  jQuery(function() {
    $('.review-avg-rating').raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      },
      path: '/assets/'
    })
  });
</script>
