<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <h2>Languages</h2>
      <%= simple_form_for [@spoken_language] do |f| %>
        <%= select_tag(:language_id, options_for_select(Language.pluck(:name, :id)),  {class: "selectpicker w-75", data: {"live-search": true, "style": "bg-white rounded-pill px-4 py-3 shadow-sm"}, multiple: true}) %>
        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
