<% content_for(:navbar_class, "navbar-home") %>
<% content_for(:toggler_class, "toggler-home") %>

<div class="jumbotron jumbotron-fluid banner">
  <div class="container banner-container">
    <h1 class="display-5">Learn on any schedule</h1>
    <p class="lead">An end-to-end tutoring platform where students and tutors connect from all around the world</p>
    <%= link_to "Find a tutor", tutors_path, class: "btn btn-banner" %>
  </div>
</div>
