<div class="banner">
  <div class="banner-container">
    <h1>Learn on any schedule</h1>
    <p>An end-to-end tutoring platform where students and tutors connect from all around the world</p>
    <%= link_to "Find a tutor", tutors_path, class: "btn btn-primary btn-banner" %>
  </div>
</div>

