<button class="btn btn-raised btn-success" id="join">JOIN</button>
<%= link_to "END", new_booking_review_path, class: "btn btn-raised btn-danger", id: "leave" %>

<div class="video-grid" id="video">
  <div class="video-view">
    <div id="local_stream">
    </div>
    <div id="local_video_info"></div>
    <div id="video_autoplay_local"></div>
  </div>
</div>
