<h1>Lesson of <%= @lesson.booking.subject.name.downcase %></h1>
<h5><%= @lesson.booking.start_date.strftime("%A, %d %B %Y") %> from <%= @lesson.booking.start_date.strftime("%H:%M") %> until <%= @lesson.booking.end_date.strftime("%H:%M") %></h5>

<div class="row" style="margin: 0">
  <div class="col s12">
    <button class="btn btn-raised btn-primary waves-effect waves-light" id="join">JOIN</button>
    <button class="btn btn-raised btn-primary waves-effect waves-light" id="leave">LEAVE</button>
  </div>
</div>
<div class="row">
  <div class="col s7">
    <div class="video-grid" id="video">
      <div class="video-view">
        <div id="local_stream"></div>
        <div id="local_video_info"></div>
        <div id="video_autoplay_local"></div>
      </div>
    </div>
  </div>
 </div>
