.banner {
  background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) ), image-url("home.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 66px);
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
  color: white;
  margin-bottom: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding-top: 22.5rem;
  @include media-breakpoint-up(xl) {
    padding-top: 16rem;
  }
}

.banner-container {
  @include media-breakpoint-up(xl) {
    margin-left: 5rem;
  }
}

.banner h1 {
  margin-bottom: 0.6rem;
  font-weight: bold;
}

.banner p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  max-width: 470px;
}

.btn-banner {
  background-color: #00002f;
  color: white;
  border: 1px solid #00002F;
  border-radius: $border-radius-lg;
  padding: 10px 20px;
  font-weight: 500;

  &:hover {
    background-color: white;
    color: #00002F;
    border: 1px solid white;
  }
}
