.banner {
  background-image: image-url("home.jpg");
  background-size: cover;
  background-position: center;
  padding: 250px 0;
  height: calc(100vh - 66px);
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
}

.banner-container {
  padding: 0 900px 0 90px;
  color: white;
}

.banner h1 {
  margin-bottom: 0.6rem;
  font-weight: bold;
}

.banner p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  opacity: .8;
}

.btn-banner {
  background-color: #00002F;
  border: 1px solid #00002F;
  border-radius: $border-radius-lg;
  padding: 10px 20px;
  font-weight: 500;

  &:hover {
    background-color: #00002F;
    border: 1px solid #00002F;
    // background-color: #000074;
    // border: 1px solid #000074;
  }
}
