.banner {
  background-image: image-url("home.jpg");
  background-size: cover;
  background-position: center;
  padding: 250px 0;
  height: calc(100vh - 66px);
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
}

.banner-container {
  padding: 0 750px 0 200px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-banner {
  background-color: #00002F;
  border: 1px solid #00002F;

  &:hover {
    background-color: #000074;
    border: 1px solid #000074;
  }
}
