// ---------- Tutors index ----------
.tutor-card-link {
  color: $dark-blue;

  &:hover {
    text-decoration: none;
    color: $dark-blue;
  }
}

.tutor-card {
  border: none;
  border-radius: 20px;
  box-shadow: 1px 2px 3px #cecece;

  &:hover {
    box-shadow: 2px 3px 4px #c1c1c1;
  }
}

.tutor-card-img {
  border-radius: 20px 20px 0 0;
  height: 200px;
  object-fit: cover;
  object-position: top;
}

.tutor-card-body {
  padding: 1.25rem 2.3rem;
}

.tutor-card-title {
  text-align: center;
}

.tutor-card-subjects {
  text-align: center;
  padding-top: .5rem;
  margin-bottom: 1.6rem;

  span {
    border-radius: 5px;
    padding: .4rem .5rem;
    color: white;
    // text-shadow: 1px 2px 2px #5a5a5a;
  }

  span.Mathematics {
    background-color: $ocean-green;
  }

  span.Physics {
    background-color: $uranian-blue;
  }

  span.Statistics {
    background-color: $cyclamen;
  }

  span.Chemistry {
    background-color: $lemon-yellow-crayola;
  }

  span.Philosophy {
    background-color: $light-pink;
  }

  span.Russian {
    background-color: $amaranth-pink;
  }

  span.Chinese {
    background-color: $mellow-apricot;
  }

  span.German {
    background-color: $dark-salmon;
  }

  span.Korean {
    background-color: $turquoise-green;
  }

  span.Chemistry {
    background-color: $maximum-blue-purple;
  }

  span.Computer.Science {
    background-color: $baby-blue-eyes;
  }

  span.Biology {
    background-color: $yellow-green-crayola;
  }

  span.French {
    background-color: $pale-cerulean;
  }
}

.tutor-card-info {
  display: flex;
  justify-content: space-between;
}
