// ---------- Tutors index ----------
.tutor-card-link {
  color: $oxford-blue;

  &:hover {
    text-decoration: none;
    color: $oxford-blue;
  }
}

.tutor-card {
  border: none;
  border-radius: 20px;
  box-shadow: 1px 2px 3px #cecece;

  &:hover {
    box-shadow: 2px 3px 4px #c1c1c1;
  }
}

.tutor-card-img {
  border-radius: 20px 20px 0 0;
  height: 200px;
  object-fit: cover;
  object-position: top;
}

.tutor-card-body {
  padding: 1.25rem 2.3rem;
}

.tutor-card-title {
  text-align: center;
}

.tutor-card-subjects {
  text-align: center;
  padding-top: .5rem;
  margin-bottom: 1.6rem;
}

.tutor-card-info {
  display: flex;
  justify-content: space-between;
}

// ---------- Bookings index ----------
.booking-card-link {
  color: #00002F;

  &:hover {
    text-decoration: none;
    color: #00002F;
  }
}

.booking-card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 2px 3px #cecece;
  padding: 1.2rem 0;
  margin-bottom: 1rem;

  &:hover {
    box-shadow: 2px 3px 4px #c1c1c1;
  }
}

.booking-card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.booking-card-date {
  border-right: 1px solid #00002F;

  span.booking-card-date-day {
    color:  #575757ff;
  }

  span.booking-card-date-number {
    font-weight: bold;
    color: #00A4FF;
  }
}

.booking-card-subject {
  align-items: flex-start;
  padding-left: 2.5rem;

  h4 {
    margin-bottom: .3rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.booking-card-image {
  padding-left: 0;

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }

  @include media-breakpoint-up(sm) {
    img {
      width: 60px;
      height: 60px;
    }
  }

  @include media-breakpoint-up(md) {
    padding-left: 15px;

    img {
      width: 70px;
      height: 70px;
    }
  }
}

.booking-card-status {
  align-items: stretch;
  font-size: .9rem;
  text-align: center;
  margin-top: 1rem;

  @include media-breakpoint-up(sm) {
    margin: 0;
  }
}

// ---------- Payments new ----------
.card-payment-new {
  border: none;
  box-shadow: 1px 2px 3px #cecece;
}

// Background color for each status
.booking-status {
  font-weight: bold;
  padding: .4rem .8rem;
  border-radius: 2px;
}
.canceled {
  background-color: #dfdfdf;
}
.completed {
  background-color: #c1f7ff;
}
.today {
  background-color: #d4f2cb;
}
.coming {
  background-color: #b4d7ff;
}
.unpaid {
  background-color: #ffe3ad;
}
.unconfirmed {
  background-color: #ffbbbc;
}

// ---------- Wallet show ----------
.wallet-card {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px 15px;
  border-radius: 4px;
  box-shadow: 1px 2px 3px #cecece;

  h5 {
    font-weight: bold;
  }

  span {
    color: #4c4c4c;
  }

  p {
    line-height: 1.3;
    font-size: 1.1rem;
  }
}

.lesson-color.english {
  color: $mauve;
}

.lesson-color.mathematics {
  color: $ao-english;
}

.lesson-color.physics {
  color: $uranian-blue;
}

.lesson-color.biology {
  color: $kombu-green;
}

.lesson-color.finance {
  color: $star-command-blue;
}

.lesson-color.accounting {
  color: $glossy-grape;
}

.lesson-color.chemistry {
  color: $maximum-blue-purple;
}

.lesson-color.french {
  color: $celadon-blue;
}

.lesson-color.philosophy {
  color: $bitter-lemon;
}

.lesson-color.statistics {
  color: $cyclamen;
}

.lesson-color.chinese {
  color: $fire-opal;
}

.lesson-color.communication {
  color: $selective-yellow;
}

.lesson-color.german {
  color: $heat-wave;
}

.lesson-color.japanese {
  color: $unbleached-silk;
}

.lesson-color.korean {
  color: $turquoise-green;
}

.lesson-color.latin {
  color: $grullo;
}

.lesson-color.russian {
  color: $coffee;
}

.lesson-color.spanish {
  color: $imperial-red;
}

.lesson-color.science {
  color: $gunmetal;
}

.lesson-color.astronomy {
  color: $trypan-blue;
}

.lesson-color.human.biology {
  color: $dark-red;
}

.lesson-color.graphics {
  color: $bright-purple;
}

.lesson-color.computer.science {
  color: $baby-blue-eyes;
}

// --------- Job posts index ---------
.job-post-card {
  background-color: white;
  padding: 25px 30px;
  border-radius: 5px;
  height: 240px;
  box-shadow: 1px 2px 3px #cecece;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p:first-child {
    font-weight: lighter;
    color: #585858;
  }

  h4 {
    margin-bottom: 1.1rem;
  }
}

.job-post-card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: lighter;
}

// --------- Job posts index ---------
.job-post-info-card {
  background-color: white;
  padding: 20px 25px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.job-post-info-card-header {
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
  color: #585858;
}

.job-post-info-card-title {
  display: flex;
  align-items: baseline;

  a {
    margin-left: 0.8rem;
  }
}

.job-post-info-card-details {
  display: flex;
  margin-bottom: 0.5rem;

  p {
    margin-right: 2rem;
  }

  i {
    margin-right: 0.5rem;
  }
}

// --------- Comments ---------
.comment-card {
  background-color: white;
  padding: 20px 25px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }

  a.link-grey {
    margin-right: 0.5rem;
  }
}

.comment-card-body {
  margin-left: 1.5rem;
}

.comment-card-author {
  display: flex;
  justify-content: space-between;

  a {
    font-weight: bolder;
    color: black;
  }

  p {
    font-weight: lighter; color: #585858;
  }
}
