// ------- devise forms -------
.signup-form {
  margin: 0 auto;
  margin: 2rem auto;
  width: 50%;
  background-color: white;
  padding: 2rem;
  box-shadow: 1px 2px 3px #cecece;
  border-radius: 5px;
}

.session-form-container {
  background-color: #f4f3ee;
  margin: 2rem auto;
  width: 50%;
  border-radius: 5px 0 0 0;
}

.tutor-session {
  box-shadow: 3px 3px 3px #cecece;
}

.session-form {
  padding: 30px;
  background-color: white;
  border-radius: 0 5px 5px 5px;
  box-shadow: 1px 2px 3px #cecece;

  a {
    color: #545454;
  }

  a:hover {
    text-decoration: none;
    color: black;
  }
}

.tutor-form {
  border-radius: 5px 0 5px 5px;
}

.btn-form {
  background-color: $navy-blue;
  border: 1px solid $navy-blue;
  border-radius: 5px;
  color: white;
  padding: 0.5rem 1.5rem;
  margin-bottom: 15px;

  &:hover {
    background-color: $maya-blue;
    border: 1px solid $maya-blue;
    color: white;
  }
}

// ------- job posts search -------
#job-posts-search {
  margin-bottom: 40px;
}

#job-posts-search .dropdown.bootstrap-select {
  width: 30%;
}

#job-posts-search .dropdown-toggle.select-grey {
  background-color: #fafafa;
  box-shadow: 1px 2px 3px #cecece;
  width: fit;
}

.btn-search {
  background-color: $navy-blue;
  border: 1px solid $navy-blue;
  border-radius: 3px;
  box-shadow: 1px 2px 3px #cecece;
  color: white;
  padding: 0.4rem 1rem;

  &:hover {
    background-color: $maya-blue;
    border: 1px solid $maya-blue;
    color: white;
  }
}
