.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// Home navbar
.navbar-home.navbar-main.navbar-light {
  box-shadow: none;
  position: absolute;
  width: 100%;
  background: transparent;
  z-index: 10;

  .nav-link {
    color: white;
  }
}

.toggler-home .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.toggler-home.navbar-toggler {
  border-color: white;
}

// Main navbar
.navbar-main.navbar-light {
  background-color: $oxford-blue;
  box-shadow: 1px 2px 4px #d6d6d6;

  .nav-item,
  .nav-link {
    color: white;

    &:hover {
      color: $maya-blue;
      border-bottom: 1px solid $maya-blue;
    }
  }

  li.nav-item.dropdown {
    border-bottom: none;
  }

  .navbar-brand {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navbar-brand:hover {
    color: white;
    border-bottom: none;
  }
}
