span.tag {
  border-radius: 5px;
  padding: .4rem .5rem;
  color: white;
}

.English {
  background-color: $mauve;
}

.Mathematics {
  background-color: $ao-english;
}

.Physics {
  background-color: $uranian-blue;
}

.Biology {
  background-color: $kombu-green;
}

.Finance {
  background-color: $star-command-blue;
}

.Accounting {
  background-color: $glossy-grape;
}

.Chemistry {
  background-color: $maximum-blue-purple;
}

.French {
  background-color: $celadon-blue;
}

.Philosophy {
  background-color: $bitter-lemon;
}

.Statistics {
  background-color: $cyclamen;
}

.Chinese {
  background-color: $fire-opal;
}

.Communication {
  background-color: $selective-yellow;
}

.German {
  background-color: $heat-wave;
}

.Japanese {
  background-color: $unbleached-silk;
}

.Korean {
  background-color: $turquoise-green;
}

.Latin {
  background-color: $grullo;
}

.Russian {
  background-color: $coffee;
}

.Spanish {
  background-color: $imperial-red;
}

.Science {
  background-color: $gunmetal;
}

.Astronomy {
  background-color: $trypan-blue;
}

.Human.Biology {
  background-color: $dark-red;
}

.Graphics {
  background-color: $bright-purple;
}

.Computer.Science {
  background-color: $baby-blue-eyes;
}
