[id^="player"] {
  background-color: transparent !important;
}

video {
  height: auto !important;
  position: unset !important;
}

#local_stream video {
  width: 200px !important;
  border-radius: 5px;
}
