// Bookings show page
#booking-show {
  margin: 3rem auto;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 2px 3px #cecece;
  padding: 2rem 3rem;
}

// Booking steps section
#booking-steps {
  display: flex;
  justify-content: space-between;
  color: #757575;
  padding: .5rem 1rem;
}

.booking-step-number {
  border: 1px solid #757575;
  padding: .3rem .7rem;
  border-radius: 50%;
}

.step-done {
  color: $maya-blue;

  span {
    border: 1px solid $maya-blue;
  }
}

// Booking informations section
#booking-informations {
  margin: 1.5rem 0;
}

// Booking recipient section
#booking-user {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    border-radius: 3px;
    margin-bottom: .5rem;
  }
}

.booking-user-info {
  width: 100%;
  display: flex;
  justify-content: space-between;

  a {
    color: $oxford-blue;

    &:hover {
      text-decoration: none;
      color: $maya-blue;
    }
  }
}

// Booking details section
#booking-details {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  width: 100%;
}

.subject-status {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: .5rem;

  h1 {
    font-weight: bold;
  }

  p {
    font-size: .8rem;
    padding: .2rem .4rem;
    font-weight: normal;
    margin: 0 0 .3rem .5rem;
  }
}

// Booking payment section
#booking-payment {

  h4 {
    margin-bottom: 1.5rem;
  }

  a {
    display: block;
    margin-top: 1rem;
  }
}

.booking-price {
  display:flex;
  justify-content: space-between;
}

.btn-unpaid {
  border: 1px solid #ffd685;
  background-color: #ffd685;
  padding: .3rem .6rem;
}
.btn-unpaid:hover {
  border: 1px solid #ffe3ad;
  background-color: #ffe3ad;
}
.btn-unconfirmed {
  border: 1px solid #ffa1a3;
  background-color: #ffa1a3;
  padding: .3rem .6rem;
}
.btn-unconfirmed:hover {
  border: 1px solid #ffbbbc;
  background-color: #ffbbbc;
}
.btn-completed {
  border: 1px solid #9af1ff;
  background-color: #9af1ff;
  padding: .3rem .6rem;
}
.btn-completed:hover {
  border: 1px solid #c1f7ff;
  background-color: #c1f7ff;
}
.btn-today {
  border: 1px solid #bbf0ab;
  background-color: #bbf0ab;
  padding: .3rem .6rem;
}
.btn-today:hover {
  border: 1px solid #d4f2cb;
  background-color: #d4f2cb;
}
.btn-canceled {
  border: 1px solid #00005aff;
  background-color: #00005aff;
  color: white;
  padding: .3rem .6rem;
}
.btn-canceled:hover {
  border: 1px solid #57bfffff;
  background-color: #57bfffff;
  color: white;
}
.btn-cancel {
  color: #afafaf;
}
.btn-cancel:hover {
  color: $oxford-blue;
}
