// Tutors show page

i.fas.fa-star {
  color: #ffef00;
}
i.fas.fa-map-marker-alt {
  color: #dd0000;
}

// General
.tutor-section {
  margin-bottom: 2rem;
}

// Tutor header section
.tutor-image {
  width: 100%;
  border-radius: 2px;
  box-shadow: 1px 2px 4px #cecece;
}

#tutor-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tutor-info-name {
  margin: 0;
  a {
    margin-left: .5rem;
    color: $dark-blue;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
      color: lightskyblue;
    }
  }
}

.tutor-info-detail {
  margin-right: 1rem;
}

#tutor-booking {
  border-radius: 5px;
  box-shadow: 1px 2px 4px #cecece;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tutor-price {
  font-size: 1.2rem;
  color: #57bfff;
}

.btn-dark-blue {
  background-color: $dark-blue;
  border: 1px solid $dark-blue;
  border-radius: 25px;
  color: white;

  &:hover {
    background-color: #00005A;
    border: 1px solid #00005A;
    color: white;
  }
}
