// Tutors show page

i.fas.fa-star {
  color: #ffef00;
}
i.fas.fa-map-marker-alt {
  color: #dd0000;
}

// General
.tutor-section {
  margin-bottom: 2.5rem;
}

.tutor-container {
  box-shadow: 1px 2px 3px #cecece;
  background-color: white;
  padding: 2rem;
}

// Tutor header section
.tutor-image {
  width: 100%;
  border-radius: 2px;
  box-shadow: 1px 2px 4px #cecece;
}

#tutor-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 0 0 1.5rem;
}

.tutor-info-name {
  margin: 0;
  a {
    margin-left: .5rem;
    color: $oxford-blue;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
      color: $maya-blue;
    }
  }
}

.tutor-info-detail {
  margin-right: 1rem;
}

#tutor-booking {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  div {
    text-align: center;
  }
}

.tutor-price-text {
  color: $davys-grey
}

.tutor-price {
  font-size: 1.2rem;
  color: $maya-blue;
}

.btn-dark-blue {
  background-color: $navy-blue;
  border: 1px solid $navy-blue;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;

  &:hover {
    background-color: $maya-blue;
    border: 1px solid $maya-blue;
    color: white;
  }
}

// Tutor about section
.tutor-title {
  border-bottom: 6px solid $navy-blue;
  color: $navy-blue;
  padding-bottom: .5rem;
  width: fit-content;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
}

// Tutor education section
.tutor-education-item {
  margin-bottom: 2rem;
}

.tutor-eduction-item-dates {
  color: #575757ff;
  font-size: .9rem;
  margin-bottom: 0.5rem;
}

.tutor-eduction-item-title {
  font-weight: bold;
  color: #00005aff;
}

.tutor-eduction-item-university {
  margin-bottom: 0.5rem;
}

// Tutor work experience section

// Tutor reviews section
